{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Cart
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <div class="container mb-80 mt-50">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">Checkout</h1>
                    <div class="d-flex justify-content-between">
                        <h6 class="text-body"><span class="text-brand">{{totalcartitems}}</span> product{{totalcartitems|pluralize}} in your cart</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    {% if request.user.is_authenticated %}
                    {% else %}
                    <div class="row mb-50">
                        <div class="col-lg-6 mb-sm-15 mb-lg-0 mb-md-3">
                            <div class="toggle_info">
                                <span><i class="fi-rs-user mr-10"></i><span class="text-muted font-lg">Already have an account?</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed font-lg" aria-expanded="false">Click here to login</a></span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <h4 class="mb-30">Billing Details</h4>
                        <form method="post">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="username" value="{{request.user.username|title}}" placeholder="Name *">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="mobile" value="{{active_address.mobile}}" placeholder="Mobile number *">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="billing_address" value="{{active_address.address}}" placeholder="Address *">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" name="billing_address2" placeholder="Address line2">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="border p-40 cart-totals ml-30 mb-50">
                        <div class="d-flex align-items-end justify-content-between mb-30">
                            <h4>Your Order</h4>
                        </div>
                        <div class="divider-2 mb-30"></div>
                        <div class="table-responsive order_table checkout">
                            <table class="table no-border">
                                <tbody>

                                {%for product_id, item in cart_data.items %}
                                    <tr>
                                        <td class="image product-thumbnail"><img src="{{ item.image }}" alt="#"></td>
                                        <td>
                                            <h6 class="w-160 mb-5"><a href="{% url 'core:product-detail' item.pid %}" class="text-heading">{{ item.title }}</a></h6></span>
                                        </td>
                                        <td>
                                            <h6 class="text-muted pl-20 pr-20">x{{ item.qty }}</h6>
                                        </td>
                                        <td>
                                            <h5 class="text-brand">{% widthratio item.price 1 item.qty %}€</h5>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="divider-2 mb-30"></div>
                        <div class="d-flex align-items-end justify-content-between">
                            <h4>Total </h4><span><h5 class="text-brand">{{cart_total_amount|floatformat:2}}€</h5></span>
                        </div>

                    </div>
                    <div class="payment ml-30">
                        <h4 class="mb-30">Payment</h4>
                        <div class="w-50">
                            {{paypal_payment_button.render}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}